.Chat {
    position: relative;
    display: grid;
    grid-template-columns: 22% auto;

    /* gap: 1rem; */
  }
  
  .Left-side-chat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .Chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    /* height: auto; */
    min-height: 88vh;
    max-height: 88vh;
    overflow-y: scroll;
    overflow-x: hidden;
   }

   .Chat-container::-webkit-scrollbar{
    width: 2px;
   }
  
  .Chat-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .Right-side-chat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .conversation:hover {
    background: #f1f1f1;
    cursor: pointer;
  }
  

  
  .conversation > div {
    position: relative;
  }
  
  .online-dot {
    background-color: darkgreen;
    border-radius: 50%;
    position: absolute;
    left: 2rem;
    width: 0.7rem;
    height: 0.7rem;
  }
  
  
  .chatbox-empty-message {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 20px;
  }
  


  
  @media screen and (max-width: 768px) {
   .Chat {
      grid-template-columns: 16% auto;
    }
     .follower.conversation>div>.name{
      display: none;
     }
  }